body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(7, 27, 82), rgb(20, 184, 113));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: SEGA LOGO FONT;
  font-weight: 200;
  color: #0ccac4;
}

h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
  font-family: 'Courier New', Courier, monospace
}

button {
  margin-bottom: 120px;
  background-color: #4AB891;
  border-color: #71D6B2;
  padding: 5px;
  border-radius: 30px;
  font-family: inherit;
}

.add {
  margin-right: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }